.Container{
    display: flex;
    flex-direction: column;
    background-color: white;

    position: fixed;
    overflow: auto;
    padding: 0;
    margin: 0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.NavBar{
    background-color: #191970;
    width: 98.6%;
    height: auto;
    padding: 10px;
}

.LoginButtons{
    border: 2px solid rgba(139, 144, 172, 0.767);
    background-color: #ADD8E6;
    margin-right: 10px;
    float: right;
    text-align: center;
    padding: 8px 10px;
    border-radius: 15px;
}

.LoginButtons:hover{
    background-color: rgb(154, 154, 209);
}

.HomeButton{
    border: 2px solid rgba(139, 144, 172, 0.767);
    background-color: #ADD8E6;
    float: left;
    padding: 4px 6px;
    margin-right: 10px;
    border-radius: 15px;
}

.HomeButton:hover{
    background-color: rgb(154, 154, 209) ;
}

.SearchBox{
    float: left;
    border-radius: 25px;
    border: none;
    background-color: #F0FFFF;
    padding: 5px 16px;
}

.TextBox{
    padding: 3px 5px;
    font-size: 16px;
    height: auto;
    border: none;
    background-color: #F0FFFF;
    font: 20px;
}

.TextBox:focus{
    outline: none;
}

.SearchButton{
    padding: 3px 5px;
    background-color: #ADD8E6;
    border: none;
    border-radius: 50%;
}

.SearchButton:hover{
    background-color: rgb(154, 154, 209) ;
}

.MoviesBox{
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: #F0FFFF;
    margin: 30px;
    font: 30px Tahoma
    
}

.ActorsBox{
    width: 90%;
    padding: 10px;
    background-color: #ADD8E6;
    margin: 30px;
    font: 30px Tahoma;
}

.GenresBox{
    width: 90%;
    padding: 10px;
    background-color: #B0C4DE;
    margin: 30px;
    font: 30px Tahoma;
}

.Header{
    
    width: 100%;
    margin: auto;
    margin-right: 10px;
    height: auto;
    overflow:auto;
    padding: 10px;
}

.Text{
    float: left;
}

.Drop{
    float: right;
    margin: 0px 20px;
    background-color: rgba(139, 144, 172, 0.767);
    width: 40px;
    height: 40px ;
    border-radius: 15px;
}

.Drop:hover{
    background-color: rgb(32, 82, 184);
}

.Add{
    float: right;
    margin: 0px 5px;
    background-color: rgba(70, 141, 168, 0.637);
    width: 40px;
    height: 40px ;
    border-radius: 15px;
}

.Add:hover{
    background-color: rgba(173, 187, 192, 0.747) ;
}

.MoviesBoxContent{
    margin: auto;
    margin-right: 10px;
    height: auto;
    background-color:#F0FFFF;
}

.MovieTitle{
    float: left;
    font: 30px Tahoma;
}

.MovieButtons{
    float:right;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 5px;
    background-color: #ADD8E6;
    border: 2px solid rgba(139, 144, 172, 0.767);
    padding: 3px 10px;
    border-radius: 15px;
}

.MovieButtons:hover{
    background-color: rgb(154, 154, 209);
}

.MovieLeftButtons{
    float:left;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #ADD8E6;
    border: 2px solid rgba(139, 144, 172, 0.767);
    border-radius: 15px;
}

.MovieLeftButtons:hover{
    background-color: rgb(154, 154, 209);
}

.MovieText{
    float: left;
    margin-top: 32px;
    margin-left: 20px;
    font: 20px Tahoma;
}

.MovieContent{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    padding: 10px;
    background-color: #F0FFFF;
    margin: 30px;
    font: 20px Tahoma;
}

.MovieSubheader h3{
    float: left;
    margin-top: 30px;
}

.MovieSubheader p{
    float: right;
    font: 20px Tahoma;
    margin-top: 30px;
}

.RateBox{
    float: right;
    margin-top: 30px;
    margin-left: 20px;
    width: 60px;
    height: 20px;
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    top:0; left:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top: 100px; /* Location of the box */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal_content {
    background-color: rgb(154, 154, 209);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font: 20px Tahoma;
  }

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }


  